.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem
}

.service {
    background: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    height: fit-content;
    transition: var(--transition);
    padding: 2rem;

}

.service:hover {
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.service-head {
    background: var(--color-primary);
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.service-head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service-icon {
    color: var(--color-primary);
    font-size: 1.5rem;
    text-align: center;

}

/* --------------------- Media Queries For Mobile -------------------- */
@media screen and (max-width:688px) {
    .service-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* --------------------- Media Queries For table -------------------- */
@media screen and (min-width:689px) and (max-width:1024px) {
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .service {
        height: auto;
    }
}