.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.project-item {
    background: var(--color-bg-variant);
    padding: 0.8rem;
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    transition: var(--transition);
}

.project-image {
    width: 400px;
    aspect-ratio: 1/1;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    color: var(--color-primary);
    margin: 1rem;
    padding: 10px;
}

.detail-btn {
    background-color: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    color: var(--color-primary);
    padding: .5rem;

}

/* --------------------- Media Queries ForTable -------------------- */
@media screen and (max-width:1024px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* --------------------- Media Queries For Mobile -------------------- */
@media screen and (max-width:688px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }
}