.project-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 400px;
}

.project-item {
    background: var(--color-bg-variant);
    padding: 1rem;
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    transition: var(--transition);
    user-select: none;
}

.project-image {
    border: 1px solid var(--color-primary);
    border-radius: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    color: var(--color-primary);
    margin: 1rem;
    padding: 10px;
}

.detail-btn {
    background-color: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    color: var(--color-primary);
    padding: .5rem;

}