nav {
    background-color: wheat;
    border: 1px solid var(--color-primary);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    z-index: 99999;
    position: fixed;
    top: 0;
}

nav a {
    padding: 2rem;
}

nav span h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--color-primary);
    white-space: nowrap;
}

#nav-toggler {
    display: none;
}

.nav-toggler-icon {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: var(--color-primary);
    display: none;
}

/* --------------------- Media Queries For Tablet -------------------- */
@media screen and (max-width:688px) {
    .nav-toggler-icon {
        display: block;
    }
}

/* --------------------- Media Queries For Mobile -------------------- */
@media screen and (min-width:689px) and (max-width:1024px) {
    .nav-toggler-icon {
        display: block;
    }

    nav span a {
        position: absolute;
        color: red;
        top: 200px
    }

}